<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mobile App Test Suite" parallel="none">

    <parameter name="mobile" value="android" />
    <parameter name="appPackage" value="com.saucelabs.mydemoapp.android" />
    <parameter name="appActivity" value="com.saucelabs.mydemoapp.android.view.activities.SplashActivity" />
    <parameter name="username" value="bod@example.com" />
    <parameter name="password" value="10203040" />
    <parameter name="name" value="John Doe" />
    <parameter name="address" value="123 Main St" />
    <parameter name="address2" value="Apt 4B" />
    <parameter name="city" value="Anytown" />
    <parameter name="state" value="CA" />
    <parameter name="zip" value="12345" />
    <parameter name="country" value="USA" />
    <parameter name="cardNumber" value="4111111111111111" />
    <parameter name="expiration" value="12/25" />
    <parameter name="securityCode" value="123" />

    <test name="login-tests">
        <classes>
            <class name="com.juaracoding.LoginTest" />
        </classes>
    </test>

    <test name="product-tests">
        <classes>
            <class name="com.juaracoding.ProductTest" />
        </classes>
    </test>

    <test name="cart-tests">
        <classes>
            <class name="com.juaracoding.CartTest" />
        </classes>
    </test>
</suite>